{% extends "base.html" %}

{% block title %}{{ employee.user.first_name }} {{ employee.user.last_name }}{% endblock %}

{% block app_class %}people-app{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('people_bp.static', filename='css/people.css') }}">
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'people_nav.html' with context %}
    
    <div class="content-wrapper flex-grow-1">
        <div class="content-card">
            <!-- ... existing code ... -->
        </div>
    </div>
</div>
{% endblock %} 