<div class="update-card {% if update.pinned %}pinned{% endif %}" data-type="{{ update.type.value }}">
    <div class="update-header">
        <div class="update-author">
            <div class="author-avatar">{{ update.user.first_name[0] }}{{ update.user.last_name[0] }}</div>
            <div class="author-info">
                <div class="author-name">{{ update.user.first_name }} {{ update.user.last_name }}</div>
                <div class="update-meta">
                    {% if update.pinned %}
                    <span class="badge bg-warning">Pinned</span>
                    {% endif %}
                    <span class="badge update-type-{{ update.type.name.lower() }}">{{ update.type.value }}</span>
                    <span class="update-time">{{ update.created_at|timeago }}</span>
                </div>
            </div>
        </div>
        {% if current_user.id == update.user_id %}
        <div class="update-actions dropdown">
            <button class="btn btn-link" data-bs-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item toggle-pin" href="#" data-update-id="{{ update.id }}">
                        <i class="fas fa-thumbtack"></i> {{ 'Unpin' if update.pinned else 'Pin' }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item text-danger delete-update" href="#" data-update-id="{{ update.id }}">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="update-content">
        <p>{{ update.content }}</p>
    </div>
    <div class="update-footer">
        <button class="btn btn-link not-implemented" 
                data-bs-toggle="tooltip" title="Likes coming soon">
            <i class="far fa-heart"></i>
            <span class="likes-count">{{ update.likes|length }}</span>
        </button>
        <button class="btn btn-link not-implemented" 
                data-bs-toggle="tooltip" title="Comments coming soon">
            <i class="far fa-comment"></i> {{ update.replies|length }}
        </button>
        <button class="btn btn-link not-implemented"
                data-bs-toggle="tooltip" title="Sharing coming soon">
            <i class="fas fa-share"></i> Share
        </button>
    </div>
</div> 